.menu{
  display: flex;
  width: 100%;
  align-items:center;
  justify-content: center;
  position: fixed;
  background-color: white;
  z-index: 1000;  
  
  .logo{
    width: 8%;
    margin-left: 2%;
  }
  .nav {
    width: 85%;
    font-family: 'Arial';
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: end;
    
    & li {
      display: inline-block;
      list-style: outside none none;
      margin: .5em 1em;
      padding: 0;
    }
    
    & a {
      
      padding: .0.1em .01em;
      color: var(--negro);
      position: relative;
      text-decoration: none;
      font-size: 1em;
     
      
    }
    
    & a::before,
    & a::after {
      content: '';
      height: 0px;
      width: 100%;
      position: absolute;
      transition: all .35s ease;
      opacity: 0;
      
      
      
    }
    
    & a::before {
      content: '';
      right: 0;
      top: 80%;
      border-bottom: 3px solid var(--amarillo);

      
    }
    
    & a:hover:before,
    & a:hover:after{
      transform: translate(0,0);
      opacity: 1;
    }
    
   
  }
  
}




