.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  .logo{
    width: 8%;
    margin-left: 2%;
  }
  .nav {
    width: 85%;
    font-family: 'Arial';
    text-transform: uppercase;
    text-align: right;
    font-weight: 600;
    & * {
     
    }
    & li {
      display: inline-block;
      list-style: outside none none;
      margin: .5em 1em;
      padding: 0;
    }
    
    & a {
      
      padding: .0.1em .01em;
      color: var(--negro);
      position: relative;
      text-decoration: none;
      font-size: 1em;
      
    }
    
    & a::before,
    & a::after {
      content: '';
      height: 20px;
      width: 100%;
      position: absolute;
      transition: all .35s ease;
      opacity: 0;
    }
    
    & a::before {
      content: '';
      right: 0;
      top: 0;
      border-bottom: 3px solid var(--amarilloclaro);
      
    }
    
   
    
    & a:hover:before,
    & a:hover:after{
      transform: translate(0,0);
      opacity: 1;
    }
    
   
  }
  
}




@media(max-width:991px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #98dbc6;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}