.home__header{
    background-image: url(../images/home/escritorio/fondo_01.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    .home__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        .home__texto{
            width: 30%;
            margin-top: 10%;
            margin-left: 10%;
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.3rem;
                margin-top: 20%;
            }
            .txt-rotate{
                color: var(--amarillo);
                font-size: 3rem;
                position: absolute;
                
            }
            
            .btn__enviar__mensaje {
                padding: 15px;
                border-radius: 5px;
                background-color: var(--negro);
                border: solid 2px var(--amarillo);
                color: white;
                .boton__icono {
                  width: 30px;
                  padding-right: 5px;
                }
            }
              
            
        }
    }
}
.consultoria__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    .consultoria__container__texto{
        display: flex;
        width: 80%;
        gap: 10%;
        justify-content: center;
        align-items: center;
        .texto{
            width: 30%;
            display: flex;
            flex-direction: column;
            gap:50px;
            .text__consultoria{
                font-size: 3rem;
                position: relative;
                

            }
            .text__consultoria::before{  
                content: '';
                border-color:  #a8cf45;
                border-style: solid;
                border-width: 70px;
                border-left: 250px;
                border-top: 100px;
                border-bottom: 100px; 
                z-index: -10;
            }
            
        }
        .imagen_consultoria{
            width: 50%;
            img{
                width: 100%;

            }
        }
    }
    .consultoria__container__iconos{
        display: flex;
        width: 80%;
        
        .container_icono{
            display: flex;
            margin-top: 10%;
            width: 100%;
            gap: 10%;
            justify-content: center;
            align-items: center;
            gap: 20%;
            
            .iconos{
                width: 15%;
            }
           

        }
    }
}
.contenedor__alianza{
    background-image: url(../images/home/escritorio/fondo_02.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15%;

    .contenedor{
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        
        .alianzas__container__texto{
            width: 50%;
            .texto{
                width: 90%;
                display: flex;
                flex-direction: column;
                gap:50px;
                .text__consultoria{
                    font-size: 3rem;
                    position: relative;
                    
    
                }
                .text__consultoria::before{  
                    content: '';
                    border-color:  #a8cf45;
                    border-style: solid;
                    border-width: 70px;
                    border-left: 250px;
                    border-top: 100px;
                    border-bottom: 100px; 
                    z-index: -10;
                }
                
            }

        }
        .alianzas__container__iconos{
            width: 50%;
            display: flex;
            .container_icono{
                display: flex;
                margin-top: 10%;
                width: 100%;
                gap: 10%;
                justify-content: center;
                align-items: center;
                gap: 20%;
                
                .iconos{
                    width: 25%;
                }
               
    
            }

        }


    }

    
}

  
  @media screen and (max-width: 991px) {

    .home__header{
        
        background-position: left;

        .home__container{
          
            .home__texto{
                width: 50%;
                margin-top: 30%;
                
                .btn__enviar__mensaje {
                    padding: 4px;
                    border-radius: 5px;
                    background-color: var(--negro);
                    border: solid 2px var(--amarillo);
                    color: white;
                    .boton__icono {
                      width: 20px;
                      padding-right: 5px;
                    }
                }
                  
                
            }

        }
    }
    .consultoria__container{
        
        .consultoria__container__texto{
            
            flex-direction: column;
            width: 80%;
            justify-content: center;
            align-items: flex-start;
            .texto{
                width: 80%;
                font-size: 1.5rem;
                
            }
            .imagen_consultoria{
                display: none;
            }
        }
        .consultoria__container__iconos{
            
            .container_icono{
                flex-direction: column;
                gap: 50px;
                
                .iconos{
                    width: 35%;
                   
                }
    
            }
        }
    }
    .contenedor__alianza{
        background-image: url(../images/home/escritorio/fondo_02.webp);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -15%;
    
        .contenedor{
            flex-direction: column;
            
            .alianzas__container__texto{
                width: 90%;
                .texto{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    gap:50px;
                    .text__consultoria{
                        font-size: 3rem;
                        position: relative;
                        
        
                    }
                    .text__consultoria::before{  
                        content: '';
                        border-color:  #a8cf45;
                        border-style: solid;
                        border-width: 70px;
                        border-left: 250px;
                        border-top: 100px;
                        border-bottom: 100px; 
                        z-index: -10;
                    }
                    
                }
    
            }
            .alianzas__container__iconos{
                width: 90%;
                display: flex;
                .container_icono{
                    display: flex;
                    margin-top: 10%;
                    width: 100%;
                    gap: 10%;
                    justify-content: center;
                    align-items: center;
                    gap: 20%;
                    
                    .iconos{
                        width: 25%;
                    }
                   
        
                }
    
            }
    
    
        }
    
        
    }
    
    
    
  }    