.home__header{
    background-image: url(../images/home/escritorio/fondo_01.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    .home__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        .home__texto{
            width: 30%;
            margin-top: 10%;
            margin-left: 10%;
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.3rem;
                margin-top: 20%;
            }
            .txt-rotate{
                color: var(--amarillo);
                font-size: 3rem;
                position: absolute;
                
            }
            
            .btn__enviar__mensaje {
                padding: 15px;
                border-radius: 5px;
                background-color: var(--negro);
                border: solid 2px var(--amarillo);
                color: white;
                .boton__icono {
                  width: 30px;
                  padding-right: 5px;
                }
            }
              
            
        }
    }
}
.consultoria__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    .consultoria__container__texto{
        display: flex;
        width: 80%;
        gap: 10%;
        justify-content: center;
        align-items: center;
        .texto{
            width: 90%;
            display: flex;
            flex-direction: column;
            gap:50px;
            .text__consultoria{
                font-size: 3rem;
                position: relative;
                display: inline-block;
                z-index: 1;
                margin-left: 3%;
                

            }
            .text__consultoria::before{  
                content: '';
                position: absolute;
                width: 69px;
                height: 60px;
                background-color: var(--amarilloclaro);
                left: -20px;

                z-index: -1; 
               
            }
            
        }
        .imagen_consultoria{
            width: 50%;
            img{
                width: 100%;

            }
        }
    }
    .consultoria__container__iconos{
        display: flex;
        width: 80%;
        
        .container_icono{
            display: flex;
            margin-top: 10%;
            width: 100%;
            gap: 10%;
            justify-content: center;
            align-items: center;
            gap: 20%;
            
            .iconos{
                width: 15%;
            }
           

        }
    }
}
.contenedor__alianza{
    background-image: url(../images/home/escritorio/fondo_02.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15%;

    .contenedor{
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        
        .alianzas__container__texto{
            width: 50%;
            .texto{
                width: 90%;
                display: flex;
                flex-direction: column;
                gap:50px;
                .text__consultoria{
                    font-size: 3rem;
                    position: relative;
                    display: inline-block;
                    z-index: 1;
                    margin-left: 3%;
                    
    
                }
                .text__consultoria::before{  
                    content: '';
                    position: absolute;
                    width: 69px;
                    height: 60px;
                    background-color: var(--amarilloclaro);
                    left: -20px;

                    z-index: -1; 
                   
                }
                
            }

        }
        .alianzas__container__iconos{
            width: 50%;
            display: flex;
            .container_icono{
                display: flex;
                margin-top: 10%;
                width: 100%;
                gap: 10%;
                justify-content: center;
                align-items: center;
                gap: 20%;
                
                .iconos{
                    width: 25%;
                }
               
    
            }

        }


    }

    
}
.materiales__container{
    background-image: url(../images/home/escritorio/fondo_03.webp);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .container__material{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
       
        .container__texto{
            .texto{
                font-size: 4rem;
                color: white;
                text-shadow: 1px 1px 7px var(--negro);

            }
            

        }
        .contauner__iconos{
            display: flex;
            margin-top: 10%;
            width: 100%;
            gap: 10%;
            justify-content: center;
            align-items: center;
            gap: 20%;
            .container__iconos__icono{
                width: 40%;
                display: flex;
                gap: 20%;
                .iconos{
                    width: 75%;
                }

            }
            .container__iconos__texto{
                width: 60%;
                color: white;
                .parrafo__text{
                    width: 80%;
                    background: linear-gradient(90deg, rgba(30,29,28,1) 0%, rgba(30,29,28,0) 100%);
                    padding: 5%;
                    border-left: white 3px solid;

                }

            }
                
            

        }

    }

}
.container__contribuciones{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    .contribuciones__container{
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        .contribuciones__texto{
            .texto{
                width: 90%;
                display: flex;
                flex-direction: column;
                gap:50px;
                .text__consultoria{
                    font-size: 3rem;
                    position: relative;
                    display: inline-block;
                    z-index: 1;
                    margin-left: 3%;
                    
    
                }
                .text__consultoria::before{  
                    content: '';
                    position: absolute;
                    width: 69px;
                    height: 60px;
                    background-color: var(--amarilloclaro);
                    left: -20px;

                    z-index: -1; 
                   
                }
                
            }
        }
        .contribuciones__img{
            display: flex;
            .contribuciones__imagen{
                img{
                    width: 100%;
                    position: relative;
                }
                .texto{
                    position: absolute;
                
                    background-color: white;
                    margin-top: -3.5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .parrafo{
                        width: 100%;
                        text-align: center;
                        margin: 20px;
                    }
                    .parrafo1{
                        width: 70%;
                        text-align: center;
                        margin: 10px;
                    }
                }
            }
            
        }

    }

}

$font : 'Sofia', sans-serif;
$font-size:16px;
$blue : #0a4870;
$blue2 : #e3ebf1;
$black: #000;
$grey : #7d7d7d;
$grey2 : #f0f0f0;
$grey3 : #e8e7e7;
$grey4 : #fdfdfd;
$bluegrey : #49606e;
$orange: #ec992c;

@mixin radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin cardsOpen() {
    &::before {
      
    }
    .book-container {
      .content {
        opacity: 1;

        transform: translateY(0px);
      }
    }

    .informations-container {      
      transform: translateY(0px);
      .more-information {
        opacity: 1;
      }
    }
}


h3{
  color: yellow;
  font-weight: 500;
}

ul{
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding:0;
  
  .booking-card{
    position: relative;
    width: 500px;
    display: flex;
    flex: 0 0 500px;
    flex-direction: column;
    
    margin: 0px;
    margin-bottom: 30px;
    @include radius(10px);
    
    overflow: hidden;
    
    background-position: center center;
    background-size: cover;
    
    text-align: center;
    color: var(--negro);
    
    transition: .3s;
    
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: var(--amarillo);
      background: rgba(10,72,112, 0);
      
      transition: .3s;
    }
    
    .book-container {
      height: 300px;
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        
        transform: translateY(-200px);
        
        transition: .3s;
        
        
      }
    }
    
    .informations-container{      
      flex: 1 0 auto;
      
      padding: 20px;
      
      background: white;
      
      transform: translateY(206px);
      
      transition: .3s;
      
      .title {
        position: relative;
        
        padding-bottom: 10px;
        margin-bottom: 10px;
        
        font-weight: bold;
        font-size: 1.2em;
        
        &::after{
          content: '';
          
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          
          height: 3px;
          width: 50px;
          
          margin: auto;
          
         
        }
      }
      
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: 10px;
        
        .icon {
          margin-right: 10px;
        }
      }
      
      .more-information {
        opacity: 0;
        
        transition: .3s;
        .info-and-date-container {
          display: flex;
          font-size: 1rem;

          .box {
            flex: 1 0;

            padding: 15px;
            margin-top: 20px;
            @include radius(10px);

            background: white;

            font-weight: bold;
            font-size: 0.9em;

            .icon {
              margin-bottom: 5px;
            }

            &.info{
             

              margin-right: 20px;
            }
          }
        }
        .disclaimer {
          margin-top: 20px;

          font-size: 0.8em;
          color: var(--negro);
        }
      }
    }
    
    &:hover {
      @include cardsOpen();
    }
  }
}


.credits{
  display: table;
  color: white;
  line-height: 25px;
  
  margin: 10px auto;
  padding: 20px;
  
  @include radius(10px);
  
  text-align: center;
  
}

h3{
  margin: 10px 20px;
}

  @media screen and (max-width: 991px) {

    .home__header{
        
        background-position: left;

        .home__container{
          
            .home__texto{
                width: 50%;
                margin-top: 30%;
                
                .btn__enviar__mensaje {
                    padding: 4px;
                    border-radius: 5px;
                    background-color: var(--negro);
                    border: solid 2px var(--amarillo);
                    color: white;
                    .boton__icono {
                      width: 20px;
                      padding-right: 5px;
                    }
                }
                  
                
            }

        }
    }
    .consultoria__container{
        
        .consultoria__container__texto{
            
            flex-direction: column;
            width: 80%;
            justify-content: center;
            align-items: flex-start;
            .texto{
                width: 80%;
                font-size: 1.5rem;
                
            }
            .imagen_consultoria{
                display: none;
            }
        }
        .consultoria__container__iconos{
            
            .container_icono{
                flex-direction: column;
                gap: 50px;
                
                .iconos{
                    width: 35%;
                   
                }
    
            }
        }
    }
    .contenedor__alianza{
        background-image: url(../images/home/escritorio/fondo_02.webp);
        width: 100%;
        height: 90vh;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -15%;
    
        .contenedor{
            flex-direction: column;
            
            .alianzas__container__texto{
                width: 90%;
                .texto{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    gap:50px;
                    .text__consultoria{
                        font-size: 3rem;
                        position: relative;
                        
        
                    }
                    .text__consultoria::before{  
                        content: '';
                        border-color:  #a8cf45;
                        border-style: solid;
                        border-width: 70px;
                        border-left: 250px;
                        border-top: 100px;
                        border-bottom: 100px; 
                        z-index: -10;
                    }
                    
                }
    
            }
            .alianzas__container__iconos{
                width: 90%;
                display: flex;
                .container_icono{
                    display: flex;
                    margin-top: 10%;
                    width: 100%;
                    gap: 10%;
                    justify-content: center;
                    align-items: center;
                    gap: 20%;
                    
                    .iconos{
                        width: 25%;
                    }
                   
        
                }
    
            }
    
    
        }
    
        
    }
    .materiales__container{
        background-image: url(../images/home/movil/fondo_03.webp);
        width: 100%;
        height: 90vh;
        padding-top: -2%;
        
        .container__material{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
           
          
            .contauner__iconos{
                
                flex-direction: column;
                gap: 40px;
                .container__iconos__icono{
                    width: 100%;
                    display: flex;
                    gap: 20%;
                    .iconos{
                        width: 60%;
                    }
    
                }
                .container__iconos__texto{
                    width: 100%;
                    color: white;
                    .parrafo__text{
                        width: 90%;
                        background: linear-gradient(90deg, rgba(30,29,28,1) 0%, rgba(30,29,28,0) 100%);
                        padding: 5%;
                        border-left: white 3px solid;
    
                    }
    
                }
                    
                
    
            }
    
        }
    
    }
    .container__contribuciones{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        .contribuciones__container{
            display: flex;
            width: 80%;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            .contribuciones__texto{
                .texto{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    gap:50px;
                    .text__consultoria{
                        font-size: 3rem;
                        position: relative;
                        display: inline-block;
                        z-index: 1;
                        margin-left: 3%;
                        
        
                    }
                    .text__consultoria::before{  
                        content: '';
                        position: absolute;
                        width: 69px;
                        height: 60px;
                        background-color: var(--amarilloclaro);
                        left: -20px;
    
                        z-index: -1; 
                       
                    }
                    
                }
            }
            .contribuciones__img{
                width: 50%;
                ul {
                    
                    .booking-card{
                      @include cardsOpen();
                    }
                }
                
            }
    
        }
    
    }
   
    
    
    
  }
  @media screen and (max-width: 414px) {
    .home__header .home__container .home__texto h1{
        font-size: 2rem;
        width: 150%;
        margin-top: 60%;
    }
    .home__header .home__container .home__texto p {
        font-size: 1rem;
        margin-top: 35%;
        width: 150%;
    }
    .container__contribuciones .contribuciones__container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
  }    