.home__header{
    background-image: url(../images/home/escritorio/fondo_01.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    .home__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        .home__texto{
            width: 30%;
            margin-top: 10%;
            margin-left: 10%;
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.3rem;
                margin-bottom: 8%;
            }
            
            .btn__enviar__mensaje {
                padding: 15px;
                border-radius: 5px;
                background-color: var(--negro);
                border: solid 2px var(--amarillo);
                color: white;
                .boton__icono {
                  width: 30px;
                  padding-right: 5px;
                }
            }
              
            
        }
    }
}
.consultoria__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    .consultoria__container__texto{
        display: flex;
        width: 80%;
        gap: 10%;
        justify-content: center;
        align-items: center;
        .texto{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap:50px;
        }
        .imagen_consultoria{
            width: 50%;
            img{
                width: 70%;

            }
        }
    }
}
h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
  }
  h1 { font-size: 3.5em; }
  h2 {
    color: #888;
    font-size: 2em;
  }
  
  @media screen and (max-width: 991px) {

    .home__header{
        
        background-position: left;

        .home__container{
          
            .home__texto{
                width: 50%;
                margin-top: 30%;
                
                .btn__enviar__mensaje {
                    padding: 4px;
                    border-radius: 5px;
                    background-color: var(--negro);
                    border: solid 2px var(--amarillo);
                    color: white;
                    .boton__icono {
                      width: 20px;
                      padding-right: 5px;
                    }
                }
                  
                
            }

        }
    }
    
    
    
  }    