:root{
    --amarillo:#FFCC30;
    --negro:#1E1D1C;
    --gris:#9B9B9B;
    --naranja:#F38B00;
    --grisclaro:#E0E0E0;
    --amarilloclaro:#FFDA00;
    --naranja1:#FF8B00;
    --naranja2:#FF6700;
    --grisf:#F4F4F4;


}

