//variables $font:ar;
@use 'variables';
@use 'barra-navegacion';
@use 'footer';
@use 'home';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
   
}