:root {
  --amarillo:#FFCC30;
  --negro:#1E1D1C;
  --gris:#9B9B9B;
  --naranja:#F38B00;
  --grisclaro:#E0E0E0;
  --amarilloclaro:#FFDA00;
  --naranja1:#FF8B00;
  --naranja2:#FF6700;
  --grisf:#F4F4F4;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.menu .logo {
  width: 8%;
  margin-left: 2%;
}
.menu .nav {
  width: 85%;
  font-family: "Arial";
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: end;
}
.menu .nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}
.menu .nav a {
  padding: 0 0.1em 0.01em;
  color: var(--negro);
  position: relative;
  text-decoration: none;
  font-size: 1em;
}
.menu .nav a::before, .menu .nav a::after {
  content: "";
  height: 0px;
  width: 100%;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}
.menu .nav a::before {
  content: "";
  right: 0;
  top: 80%;
  border-bottom: 3px solid var(--amarillo);
}
.menu .nav a:hover:before, .menu .nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.pie-pagina {
  width: 100%;
  color: var(--negro);
}
.pie-pagina .grupo-1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .lista {
  margin-left: 30%;
}
.pie-pagina .grupo-1 .lista2 {
  width: 50%;
  margin-left: 30%;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 ul {
  padding-left: 0rem;
  list-style-type: none;
}
.pie-pagina .grupo-2 {
  background-color: red;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 991px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .lista {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0%;
  }
  .pie-pagina .grupo-1 .lista2 {
    display: none;
  }
}
.home__header {
  background-image: url(../images/home/escritorio/fondo_01.webp);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.home__header .home__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}
.home__header .home__container .home__texto {
  width: 30%;
  margin-top: 10%;
  margin-left: 10%;
}
.home__header .home__container .home__texto h1 {
  font-size: 3rem;
}
.home__header .home__container .home__texto p {
  font-size: 1.3rem;
  margin-bottom: 8%;
}
.home__header .home__container .home__texto .btn__enviar__mensaje {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--negro);
  border: solid 2px var(--amarillo);
  color: white;
}
.home__header .home__container .home__texto .btn__enviar__mensaje .boton__icono {
  width: 30px;
  padding-right: 5px;
}

.consultoria__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.consultoria__container .consultoria__container__texto {
  display: flex;
  width: 80%;
  gap: 10%;
  justify-content: center;
  align-items: center;
}
.consultoria__container .consultoria__container__texto .texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.consultoria__container .consultoria__container__texto .imagen_consultoria {
  width: 50%;
}
.consultoria__container .consultoria__container__texto .imagen_consultoria img {
  width: 70%;
}

h1, h2 {
  font-weight: 200;
  margin: 0.4em 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  color: #888;
  font-size: 2em;
}

@media screen and (max-width: 991px) {
  .home__header {
    background-position: left;
  }
  .home__header .home__container .home__texto {
    width: 50%;
    margin-top: 30%;
  }
  .home__header .home__container .home__texto .btn__enviar__mensaje {
    padding: 4px;
    border-radius: 5px;
    background-color: var(--negro);
    border: solid 2px var(--amarillo);
    color: white;
  }
  .home__header .home__container .home__texto .btn__enviar__mensaje .boton__icono {
    width: 20px;
    padding-right: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/*# sourceMappingURL=index.css.map */
